@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

#root {
  min-height: 100vh;
  display: flex;
  position: relative;
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
