@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

#root {
  min-height: 100vh;
  display: flex;
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
