<html lang="en">
  <head>
    <style>
      * { box-sizing: border-box; padding: 0; margin: 0; }
    </style>
  </head>
  <body>
    <div class="order">
      <div class="header">
        <div class="header-top">
          <div class="header-left">
            <h1>Order confirmed</h1>
          </div>
        </div>
      </div>
      <div class="content">
        <h2> Hello {{customer.firstname}} ! Your order has been confirmed. </h2>
        <p>Order {{order.reference}}</p>
        </h2>
      </div>
    </div>
  </body>
</html>