# Copy this file to .env and fill in the values

PORT=3003
CLIENT_URL="http://localhost:8000"

# Stripe API keys
STRIPE_SECRET_KEY="XXX"
STRIPE_PUBLIC_KEY="XXX"

# For local development, you can use the Stripe CLI to listen for webhooks and forward them to your local server
# See https://stripe.com/docs/webhooks/test
STRIPE_WEBHOOK_SIGNING_SECRET="XXX"

# RabbitMQ
AMQP_URL="amqp://localhost:5672"